<div class="alert" id="lastmsg"></div>
<input id="filter" type="text" class="filter" placeholder="Filter...">
<table id="allitems" class="table">
  <thead align="center">
    <tr>
      <th scope="col">Navn</th>
      <th scope="col">MAC</th>
      <th scope="col">Gruppe</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#if clients}}
    {{#each clients}}
    <tr align="center">
      <td>{{this.name}}</td>
      <td>{{this.mac}}</td>
      <td>
        <select class="form-control" id="sel_{{this.name}}">
          {{#select this.settings}}
          {{#each ../groups}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </td>
      <td>
        <button class="btn btn-dark" value="{{this.name}}">Oppdater</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script>
  $(document).ready(function () {
    $("#filter").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#allitems tbody tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    $("#lastmsg").hide();
  });
  $("button").click(function () {
    var obj = $(this).val();
    $.ajax({
      type: "PUT",
      url: "/thinclient/" + obj,
      data: {
        settings: $("#sel_" + obj).val()
      },
      success: function (result) {
        $("#lastmsg").removeClass("alert-danger");
        $("#lastmsg").addClass("alert-success");
        $("#lastmsg").html("Oppdaterte <strong>" + obj + "</strong>!");
        $("#lastmsg").show();
      },
      error: function (result) {
        $("#lastmsg").removeClass("alert-success");
        $("#lastmsg").addClass("alert-danger");
        $("#lastmsg").html("Klarte ikke å oppdatere <strong>" + obj + "</strong>!:(");
        $("#lastmsg").show();
      }
    });
  });
</script>
{{else}}
</tbody>
</table>
<div class="empty" style="display:none">
  <p>Ingen data :(</p>
</div>
{{/if}}